*{
    background-color:bisque;
}

h1{
    color:brown ;
}

h2{
    color:blue;
}

h3{
    color: green;
}

h4{
    color:blueviolet;
}

h5{
    color:chocolate;
}

p{
    color: blueviolet;
}

